.landing {
    max-width: 800px;
    margin: 3px auto;
    font-size: 1.2rem;
}
.notLog {
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.userlog {
    font-weight: bold;
    color: rgb(69, 57, 238);
}
